[submodule "ext/libminecraft-file"]
	path = ext/libminecraft-file
	url = https://github.com/kbinani/libminecraft-file.git
[submodule "ext/colormap-shaders"]
	path = ext/colormap-shaders
	url = https://github.com/kbinani/colormap-shaders.git
[submodule "ext/zopfli"]
	path = ext/zopfli
	url = https://github.com/google/zopfli.git
[submodule "ext/thread-pool"]
	path = ext/thread-pool
	url = https://github.com/mtrebi/thread-pool.git
